# Data (No need to be constantly updated on Github)
data/*

# Credentials (Security Integrity, also keep the file untracked as it should remain static)
credentials/*

# Don't include pycache
__pycache__/